@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Laila&display=swap");

* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #101010;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.timer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #1e1e1e;

  width: 259px;
  height: 95px;
  margin: 10px;
  margin-top: 80px;
  text-align: center;
  justify-content: center;
}

.text {
  color: #fff;
  font-size: 70px;
  font-family: "Inter", sans-serif;
}

.pergunta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #1e1e1e;

  color: #fff;

  width: 730px;
  height: 200px;
  font-family: "Inter", sans-serif;
  font-size: 50px;
}

.pedroxd {
  border: none;
  outline: none;
  border-radius: 30px;
}

.check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.txt {
  margin-right: 10px;
}

.lista {
  border: none;

  color: #fff;
  background: none;
}

#timer-js {
  color: #fff;
  font-size: 50px;
  font-family: "Inter", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#resposta {
  color: white;
  font-size: 20px;
}
