*{
    background-color: black;
  } 
  body{
      background-color: black;
  }
  ::placeholder{
      color:white;
      opacity: 1;
  }
  .button{
  margin-top: 20px;
   display: flex;
  justify-content: center;
  }
  #Bt {
  margin-right: 10px;
  }